# Strings : ( Represents by " " or ' ' )
## Topics : 
### - Syntax , 
### - Assingning strings to variables ,
### - Indexing ,
### - .strip(' ') , len() , .lower() , .upper() , .replace(" ","") , 
### - Adding of strings

In [2]:
"lets start"      # This is a string

'lets start'

In [3]:
'lets start'       # We can also write a string in single inverted comas

'lets start'

In [4]:
"let's start"      # This is how we use single and double inverted comas in a same string

"let's start"

In [5]:
'my self "kasim"'   # This is how we use single and double inveretd comas in a same string

'my self "kasim"'

In [6]:
a="lets start"      # Assining a variable to a string
                    # Four Rules of variables :
                    # Should start with letter or underscore character
                    # Should not start with number
                    # Only contain alhabets and underscore
                    # It is case sensitive

In [7]:
a

'lets start'

In [8]:
a[0]                #Simple Indexing positive

'l'

In [9]:
a[5]

's'

In [10]:
a[-1]                #Sinmple Indexing negative

't'

In [11]:
a[-5]

's'

In [12]:
a[0:8]               # Indexing  (her 0 included and 8 excluded)

'lets sta'

In [13]:
a[:8]

'lets sta'

In [14]:
a[7:]

'art'

In [15]:
a[-5:-1]

'star'

In [16]:
a[-5:]

'start'

In [17]:
a[:-5]

'lets '

In [18]:
a[0:5:2]             # Here third eelement i.e 2 is steps

'lt '

In [19]:
b=" Hello world "         # note white space

In [20]:
b

' Hello world '

In [21]:
b.strip(' ')             # Strip funcion used to remove white,etc space from start and end of strings

'Hello world'

In [22]:
b1=" Hello world."

In [23]:
b2=b1.strip('.')

In [24]:
b2                        # note only dot removed not space of start so assingn variable and again same process

' Hello world'

In [25]:
b2.strip(' ')          # this complets the above

'Hello world'

In [26]:
b3=".Hello world "

In [27]:
b4=b3.strip('.')

In [28]:
b4

'Hello world '

In [29]:
b5=b4.strip(' ')

In [30]:
b5

'Hello world'

In [31]:
c="My name is kasim"

In [32]:
c

'My name is kasim'

In [33]:
len(c)                  # lenght function used to count lenght start from 1 to infinity
                        # note indexing strart from 0

16

In [34]:
c.lower()              # convert all elements in small letters

'my name is kasim'

In [35]:
c.upper()               # convert all letters to capital letters

'MY NAME IS KASIM'

In [36]:
c

'My name is kasim'

In [37]:
c.replace("y","j")       # replace function here y is replace by j

'Mj name is kasim'

In [38]:
c                        # see note again calling doesnot make chane bcz of replace

'My name is kasim'

In [39]:
c.replace("My","His")

'His name is kasim'

In [40]:
c.replace("My name","boy is")

'boy is is kasim'

In [41]:
c.replace("My kasim","boy rehan")    # ***string should be define by order otherwise replace doesnt make sense

'My name is kasim'

In [42]:
c

'My name is kasim'

In [43]:
c.split()                            # split function used to split the string to list of strings with respect to space

['My', 'name', 'is', 'kasim']

In [44]:
c1="agajaa"

In [45]:
c1.split()

['agajaa']

In [46]:
d="My name"

In [47]:
e=d+" "+"is kasim"         # Adding of strings

In [48]:
e

'My name is kasim'

In [49]:
f="is kasim"+" "+d+"-"   # coplex adding

In [50]:
f

'is kasim My name-'

In [51]:
g=f + e

In [52]:
g   # gives output but not proper avoid it

'is kasim My name-My name is kasim'

In [53]:
g=f+" "+e   # comparable good with space

In [54]:
g

'is kasim My name- My name is kasim'

In [ ]:
# End....