# List : 
### Represents by Square brackets [ ]
### ordered, changeble, allows duplicate members.
# Topics :
### - syntax , Indexing , len() , 
### - .append() , .extend() , .insert() , .remove() , .reverse()
### - addition of list , list(range( , ))
### - List comprehension.
### - .pop() , .sort() , .clear() , .copy() , .count() , .index()

In [1]:
a=[1,2,3,4,5,6]             # This is a list

In [2]:
a

[1, 2, 3, 4, 5, 6]

In [3]:
a[0]                # Indexing

1

In [4]:
a[3]

4

In [5]:
a[-5]

2

In [6]:
a[0:5]                 # 0 included 5 excluded

[1, 2, 3, 4, 5]

In [7]:
a[-5:-1]

[2, 3, 4, 5]

In [8]:
a[-5:]

[2, 3, 4, 5, 6]

In [9]:
a[:-5]

[1]

In [10]:
len(a)       #same as string

6

In [11]:
a.append(7)          # Append function adds a single element to end of list
                    # single element can be int,float,string,tuple,set,etc

In [12]:
a

[1, 2, 3, 4, 5, 6, 7]

In [13]:
a.append([1,2])          #also adds a single list,tuple,etc

In [14]:
a

[1, 2, 3, 4, 5, 6, 7, [1, 2]]

In [15]:
a.append((1,2))

In [16]:
a

[1, 2, 3, 4, 5, 6, 7, [1, 2], (1, 2)]

In [17]:
a.append({'key':1,'key1':2})

In [18]:
a

[1, 2, 3, 4, 5, 6, 7, [1, 2], (1, 2), {'key': 1, 'key1': 2}]

In [19]:
a.append('123')    #also adds string

In [20]:
a

[1, 2, 3, 4, 5, 6, 7, [1, 2], (1, 2), {'key': 1, 'key1': 2}, '123']

In [21]:
a.append([(1,2),[1,3]])

In [22]:
a

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 [1, 2],
 (1, 2),
 {'key': 1, 'key1': 2},
 '123',
 [(1, 2), [1, 3]]]

In [23]:
b=[1,2,3,4,5]         #extend starts

In [24]:
b

[1, 2, 3, 4, 5]

In [25]:
c=[7,8,9]         # declare one more which is to be extend

In [26]:
b.extend(c)         # extend functions adds more than one elements to the end of list
                    # elements can be (same as append elements)

In [27]:
b

[1, 2, 3, 4, 5, 7, 8, 9]

In [28]:
c1=(1,2)

In [29]:
b.extend(c1)

In [30]:
b         # adds tuple using extend note the output

[1, 2, 3, 4, 5, 7, 8, 9, 1, 2]

In [31]:
c3={'key':1,'key2':2}

In [32]:
b.extend(c3)

In [33]:
b           #adds set using extend note the output

[1, 2, 3, 4, 5, 7, 8, 9, 1, 2, 'key', 'key2']

In [34]:
b2=[(1,2),[1,3]]

In [35]:
b.extend(b2)

In [36]:
b

[1, 2, 3, 4, 5, 7, 8, 9, 1, 2, 'key', 'key2', (1, 2), [1, 3]]

In [37]:
d=[1,2,3,4,5,6]           #insert starts

In [38]:
d

[1, 2, 3, 4, 5, 6]

In [39]:
d.insert(1,'45')        # insert function insert only one element 
                        # element can be string,int,float,coplex,list,tuple,set,etc to a specified position based on indexing

In [40]:
d

[1, '45', 2, 3, 4, 5, 6]

In [41]:
d.insert(2,4.5)

In [42]:
d

[1, '45', 4.5, 2, 3, 4, 5, 6]

In [43]:
d.insert(1,[1,2])

In [44]:
d

[1, [1, 2], '45', 4.5, 2, 3, 4, 5, 6]

In [45]:
e=[1,2,3,4,1,3]               # remove starts

In [46]:
e

[1, 2, 3, 4, 1, 3]

In [47]:
e.remove(3)

In [48]:
e              #only remove the first occurence of the element with the specified value
               #element can be (same as append)

[1, 2, 4, 1, 3]

In [49]:
e1=['ik','bk',1,2,3]

In [50]:
e1

['ik', 'bk', 1, 2, 3]

In [51]:
e1.remove('bk')

In [52]:
e1

['ik', 1, 2, 3]

In [53]:
f=[1,2,3,4,5,6]            #reverse starts

In [54]:
f

[1, 2, 3, 4, 5, 6]

In [55]:
f.reverse()            # it reverses

In [56]:
f

[6, 5, 4, 3, 2, 1]

In [57]:
f.clear()             # clear function emptys the list

In [58]:
f

[]

In [59]:
g=[4,5,6,78,9,78]           # index starts

In [60]:
g.index(78)                 #gives the first index value of specified element

3

In [61]:
z=[1,2,3,4,5]

In [62]:
x=[5,6,7,8,9]

In [63]:
y=[8,9,0]

In [64]:
z=z+x+y          # list addition

In [65]:
z

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 8, 9, 0]

In [66]:
#same pirincipal of addition applies in set, tuple

In [67]:
list(range(1,10))      # Range fuction 10 excluded

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
list(range(0,10,2))     # here third element i.e 2 is steps
                        # note step cant be negative

[0, 2, 4, 6, 8]

In [70]:
# We use list comprehension insted of loops bcz loop slowers speed...

In [71]:
a=[1,2,3,4,5]

In [72]:
a1=[k for k in a]   # list comprehension

In [73]:
a1

[1, 2, 3, 4, 5]

In [74]:
a2=2

In [75]:
b=a2/2     # Stores Quotient

In [76]:
b

1.0

In [77]:
b1=a2%2     # Stores remainder

In [78]:
b1

0

In [79]:
a2%2==0     # Checking for condition

True

In [80]:
a3=[i for i in a if i%2==0]       # For even

In [81]:
a3

[2, 4]

In [82]:
a4=[i for i in a if i%2==1]       # For odd

In [83]:
a4

[1, 3, 5]

In [84]:
#end....

In [85]:
a

[1, 2, 3, 4, 5]

In [86]:
a.pop(1)    # popb index number

2

In [87]:
a      # the one who is pop is not thier in this

[1, 3, 4, 5]

In [91]:
b=[1,3,2,5,4]
b

[1, 3, 2, 5, 4]

In [97]:
b.sort()     # arrange the elements in the list in ascending form 
b

[1, 2, 3, 4, 5]

In [99]:
b.clear()    # clear the list i.e empty
b

[]

In [100]:
a.index(3)   # Gives the index number of specified element

1

In [ ]:
# End..