# Sets:
### Represents by curly brackets {}
### Unordered, Indexing not possible
# Topics:
### - .add() , .update() , .discard() , set()
### - & - Gives intersection of two sets
### - Returns the first set values which is not present in other set

# Dictionaries:
### Represents by curly brackets {}
### Unordered, changeble, indexed
# Topics:
### - Get the value, Change the value, Number of items, Adding items, Reoving items, Remove the last item,
### - Empty the dict, Indexing

In [ ]:
# Lets start...

# Sets :

In [27]:
a={1,2,3,4,5}

In [28]:
a.add(4)   # note if already existed elmt ths statement is ignored

In [29]:
a

{1, 2, 3, 4, 5}

In [34]:
a.add(6)   # new elmt thats y added to set and note we can add one element at a time

In [35]:
a

{1, 2, 3, 4, 5, 6}

In [37]:
b={5,6,7,8,9}

In [38]:
a.update(b)    #same rules of add() but be can add more then one elment at a time

In [39]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
a.discard(3)   # specifield element is discarded

In [41]:
a

{1, 2, 4, 5, 6, 7, 8, 9}

In [45]:
b1={5,6,7,8,9,10,9,8,1}

In [46]:
b1.discard(9)     # all elemnt which is 9 discarded and also repetitive ignored also arranged in ascending form

In [47]:
b1

{1, 5, 6, 7, 8, 10}

In [1]:
A={1,2,3,4,5}

In [2]:
B={4,5,6,7,8}

In [3]:
A&B           #Gives intersection elmts of two sets

{4, 5}

In [4]:
A-B            # Gives the elmts of first set which is not present in second set

{1, 2, 3}

In [9]:
set(A)         # convert list tuple in set here A i not taken list or uple but it can do

{4, 5, 6, 7, 8}

# Dictionaries :

In [2]:
a={'key1':0,'key2':1.5,'key3':5j,'key4':'kasim'}

In [3]:
a

{'key1': 0, 'key2': 1.5, 'key3': 5j, 'key4': 'kasim'}

In [4]:
a['key2']       #Get the value

1.5

In [5]:
a['key1']

0

In [6]:
a['key1']=1         #Change values

In [7]:
a

{'key1': 1, 'key2': 1.5, 'key3': 5j, 'key4': 'kasim'}

In [8]:
len(a)            # no. of items

4

In [9]:
a['key5']='aftab'    #adding items

In [10]:
a

{'key1': 1, 'key2': 1.5, 'key3': 5j, 'key4': 'kasim', 'key5': 'aftab'}

In [11]:
a.pop('key2')       #remove items

1.5

In [12]:
a      #removed

{'key1': 1, 'key3': 5j, 'key4': 'kasim', 'key5': 'aftab'}

In [13]:
a.popitem()        #removes last item

('key5', 'aftab')

In [14]:
a     #removed

{'key1': 1, 'key3': 5j, 'key4': 'kasim'}

In [16]:
a['key4'][0]       #Indexing

'k'

In [17]:
a['key4'][0:3]

'kas'

In [ ]:
#dictionary can cantain list tules and caalled by above function and indexing possible too...

In [24]:
a.clear()     #Empty the dict.

In [25]:
a

{}

In [ ]:
# End..