# Pandas : ( Part 4 )
# Topics :
### - Concat , joins , merge

In [1]:
import pandas as pd
import numpy as np

df=pd.DataFrame(np.arange(1,7).reshape(2,3))
df

   0  1  2
0  1  2  3
1  4  5  6

In [2]:
df1=pd.DataFrame(np.arange(7,13).reshape(2,3))
df1

    0   1   2
0   7   8   9
1  10  11  12

In [3]:
pd.concat([df,df1])    #its doesnot depends on shape or name of rows and col  puts NaN if its not there

    0   1   2
0   1   2   3
1   4   5   6
0   7   8   9
1  10  11  12

In [4]:
pd.concat([df,df1],axis=1)

   0  1  2   0   1   2
0  1  2  3   7   8   9
1  4  5  6  10  11  12

In [5]:
left_df=pd.DataFrame(np.arange(1,5).reshape(2,2),columns=['a','b'],index=['A','B'])
right_df=pd.DataFrame(np.array([4,5,6,7]).reshape(2,2),columns=['c','d'],index=['B','C'])

left_df

   a  b
A  1  2
B  3  4

In [6]:
right_df

   c  d
B  4  5
C  6  7

In [7]:
left_df.join(right_df,how='outer')  #common rows taken And imp note for join func columns name of both df should be different
                                    #All olumns is taken but rows intersect one is taken one time and non intersect all is taken

     a    b    c    d
A  1.0  2.0  NaN  NaN
B  3.0  4.0  4.0  5.0
C  NaN  NaN  6.0  7.0

In [8]:
left_df.join(right_df,how='inner')    #intersection rows is taken

   a  b  c  d
B  3  4  4  5

In [9]:
left_df.join(right_df,how='left')       #only left df rows name is taken

   a  b    c    d
A  1  2  NaN  NaN
B  3  4  4.0  5.0

In [10]:
left_df.join(right_df,how='right')       #only right df rows is taken

     a    b  c  d
B  3.0  4.0  4  5
C  NaN  NaN  6  7

In [11]:
left=pd.DataFrame(np.arange(1,5).reshape(2,2),columns=['a','b'],index=['A','B'])
left

   a  b
A  1  2
B  3  4

In [12]:
right=pd.DataFrame(np.array([4,5,6,7]).reshape(2,2),columns=['a','d'],index=['B','C'])
right

   a  d
B  4  5
C  6  7

In [13]:
pd.merge(left,right,how='left',on=['a'])  
#here for on operation we need same column i.e intersect column and we can take more then one column on at a time

   a  b   d
0  1  2 NaN
1  3  4 NaN

In [ ]:
# End...( In next part we will solve some assignment questions )